[Unit]
Description={{ systemd_service_description }}
After=network.target

[Service]
Type=simple
{% for env_name, env_value in systemd_service_env.items() %}
Environment="{{ env_name }}={{ env_value }}"
{% endfor %}
ExecStart={{ systemd_service_exec_start }}
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
