[defaults]
inventory=hosts
# inventory=hosts2.yml
remote_user=root
ansible_ssh_pass=asdfasdf2020
interpreter_python=/usr/bin/python3
roles_path=~/.ansible/roles:roles
deprecation_warnings=False
# become_password_file=become_password
vault_password_file=./vault_password_file
