[Unit]
Description=Counter App
ConditionPathExists=/
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/

Environment="REDIS={{ counter_redis_host }}"
ExecStart=/usr/local/bin/counter
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
